{% load static %}
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">

    <style>
        .center-column{
        width:1000px;
        margin: 20px auto;
        padding: 50px;
        background-color: hsl(0, 0%, 98%);
        border-radius: 3px;
        box-shadow: 6px 2px 30px 0px rgba(0,0,0,0.75);
}

    </style>
</head>
<body>
<div class="center-column">
    <h1>Create an account to make orders !</h1>
    <br>
    <br>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-warning" type="submit">Sign In</button>
</form>
</div>
</body>
