{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body>
<div class="post-container">
    <div class="post-content">
        <h3 class="post-title">Confirm order</h3>
        <br>
        <p>
            <h5>Items in cart: <strong>{{ order.get_cart_items }}</strong></h5>
            <h5>Total amount: <strong>{{ order.get_cart_total }} AMD</strong></h5>
            <br>
            <br>
            <a href="{% url 'Cart' %}" class="btn btn-warning">Back to cart</a>
        </p>
   </div>
</div>
</body>
{% endblock content %}