{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body>
<div class="post-container">
    <div class="post-content">
        <h3 class="post-title">Please, check your data and confirm your order !</h3>
        <br>
        <p>
            <h5>Items in cart: <strong>{{ order.get_cart_items }}</strong></h5>
            <h5>Total amount: <strong>{{ order.get_cart_total }} AMD</strong></h5>
            <br>
            <h5>Email: <strong>{{ profile.email }}</strong></h5>
            <h5>Phone number: <strong>{{ profile.phone_number }}</strong></h5>
            <h5>Shipping address: <strong>{{ profile.address }}</strong></h5>
            <br>
            <br>
            <a href="{% url 'OrderCompleted' %}" class="btn btn-outline-secondary add-btn update-cart">Confirm order</a>
            <a href="{% url 'Cart' %}" class="btn btn-warning">Back to cart</a>
            <a href="{% url 'ProfileUpdate' %}" class="btn btn-warning">Change my data</a>
        </p>
   </div>
</div>
</body>
{% endblock content %}