{% extends 'store/main.html' %}
{% block content %}
<body>

<h2>Search by product name or country</h2>

<br/>
<form action="{% url 'Searchproducts' %}" method="GET" value="{{request.GET.q}}">
<input type="text" name="q" value="{{request.GET.q}}" placeholder="Search products"/>
<input type="submit" name="submit" value="Search"/>
</form>

{% if submitbutton == 'Search' and request.GET.q != '' %}
{% if products %}
<div class="row">
    {% for product in products %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="{% url 'ViewProduct' product.id %}">View</a>
                    <h4 style="display: inline-block; float: right">{{ product.price }} AMD</h4>
                </div>
            </div>
    {% endfor %}
</div>
{% else %}
<br>
No search results for this query
{% endif %}
{% endif %}
{% endblock content %}