{% extends 'store/main.html' %}
{% load static %}

<body>
{% block content %}

<div class="row">
    {% for product in page_obj %}
            <div class="col-lg-4">
                <img class="thumbnail" src="{{product.imageURL}}">
                <div class="box-element product">
                    <h6><strong>{{ product.name }}</strong></h6>
                    <hr>
                    <button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
                    <a class="btn btn-outline-success" href="{% url 'ViewProduct' product.id %}">View</a>
                    <h4 style="display: inline-block; float: right">{{ product.price }} AMD</h4>
                </div>
            </div>

    {% endfor %}
</div>
<br>
    <div class="pagination a">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}">&laquo;&laquo;</a>
        {% endif %}

        <span class="pagination a.active">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">&raquo;&raquo;</a>
        {% endif %}
    </div>

{% endblock content %}
