{% extends 'store/main.html' %}
{% load static %}

<body>
{% block content %}

<h6><strong>Product name: {{ product.name }}</strong></h6>
<h6><strong>Brand: {{ product.brand }}</strong></h6>
<h6><strong>Category: {{ product.category }}</strong></h6>
<h6><strong>Country: {{ product.country }}</strong></h6>
<h6><strong>Percent of alcohol: {{ product.percent_of_alcohol }}%</strong></h6>
<h6><strong>Capacity: {{ product.capacity }}ml</strong></h6>
<h6><strong>Price: {{ product.price }} AMD</strong></h6>
<img src="{{product.imageURL}}">
<br>
<br>
<button data-product={{product.id}} data-action="add" class="btn btn-outline-secondary add-btn update-cart">Add to Cart</button>
<a href="{% url 'Store' %}" class="btn btn-warning">Back to home page</a>

{% endblock content %}
</body>

