{% extends 'store/main.html' %}
{% load static %}
{% block content %}
<body>

<h6><strong>Product name: {{ product.name }}</strong></h6>
<h6><strong>Brand: {{ product.brand }}</strong></h6>
<h6><strong>Category: {{ product.category }}</strong></h6>
<h6><strong>Country: {{ product.country }}</strong></h6>
<h6><strong>Percent of alcohol: {{ product.percent_of_alcohol }}%</strong></h6>
<h6><strong>Capacity: {{ product.capacity }}ml</strong></h6>
<h6><strong>Price: ${{ product.price }}</strong></h6>
<img src="{{product.imageURL}}">
<br>
<br>
<a href="{% url 'Store' %}" class="btn btn-warning">Back to home page</a>
</body>

{% endblock content %}